body {
    font-family: sans-serif;
    background-color: lightgrey;

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    max-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    color: #ad9494;
    font-family: sans-serif;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;             
}
